body {
    --nav-width: 200px;
    margin: 0 0 0 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #eeeeee;
    background-color: #222222;
}

.nav {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: var(--nav-height);
    background: #222222;
}

.nav__link {
    display: inline-block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}
#app {
    /* margin: 2em; */
    line-height: 1.5;
    font-weight: 500;
}

#cc{
    overflow-x: hidden;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100%;
    background-color: black;
}
.post{
   margin: 2vh;
}

#cd{
    position: block;
    z-index: -1;
    /* gradient color */
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgb(255, 255, 255) 100%);
    margin: 4vh;
    /* Rotate 45 degree */
    transform: rotate(45deg);
    /* background-color: #ffffff10;
    backdrop-filter: blur(12px);
    --webkit-backdrop-filter: blur(12px); */
}
